<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Udacity NLP project</title>
  </head>

  <body>
    <header>
      <h1>
        Logo
      </h1>
      <nav>
        navigation
      </nav>
    </header>

    <main>
      <section class="article-form">
        <h1>Anaylise, anything!</h1>
        <p>Simply paste the URL of the article you want to learn more about, and we'll analyse it for you.</p>
        <form id="formArticle">
          <label for="url">Article to analyse</label>
          <input id="url" id="url" type="text" name="input" autofocus value="" placeholder="Paste the entire URL here (including https)">
          <input type="submit" value="submit">
        </form>
      </section>

      <section class="results">
        <h2><strong>The super-thorough analysis</strong></h2>
        <p><em>Trust me, we know what we're doing.</em></p>
        <div id="results-container"></div>
      </section>
    </main>

    <footer>
      <p>Coded by Alex Lillo. Sentiment analysis done by <a href="https://www.meaningcloud.com/developer/sentiment-analysis" target="_blank">Meaning Cloud</a>.</p>
      <p></p>
    </footer>
  </body>

</html>
