<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Udacity NLP project</title>
  </head>

  <body>
    <header>
      <h1>
        Logo
      </h1>
      <nav>
        navigation
      </nav>
    </header>

    <main>
      <section>
        <form id="formArticle">
          <label for="url">Article to analyse</label>
          <input id="url" id="url" type="text" name="input" value="" placeholder="Paste the entire URL here (including https)">
          <input type="submit" name="" value="submit">
        </form>
      </section>

      <section class="results">
        <strong>Form Results:</strong>
        <div id="results-container"></div>
      </section>
    </main>

    <footer>
      <p>This is a footer</p>
    </footer>
  </body>

</html>
