// FORM MIXINS
@mixin form-field {
  padding: $baseline;
  margin: $baseline/2 0 $baseline;
}

@mixin form-shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.05),
              0 2px 2px rgba(0,0,0,0.05),
              0 4px 4px rgba(0,0,0,0.05),
              0 8px 8px rgba(0,0,0,0.05);
}


// STYLES

label {
  font-size: 1.6rem;
  display: block;
  font-weight: bold;
}

input {
  font-size: 1.6rem;
}

input[type="text"] {
  @include form-field;
  @include form-shadow;
  width: 100%;
  border: 1px solid #ddd;
}

input[type="submit"] {
  @include form-field;
  @include form-shadow;
  background: #ccc;
  border: none;
  border-radius: 100px;
  min-width: 150px;
  cursor: pointer;
}
